*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:'Inter',sans-serif;
}

:root{
    --primary:#1b2b7a;
    --secondary:#2563eb;
    --accent:#ffd54a;
    --text:#1e293b;
    --light:#64748b;
    --white:#fff;
    --bg:#f8fafc;
}

body{
    background:var(--white);
    color:var(--text);
    line-height:1.6;
    font-size: 50px;
}

/* NAVBAR */

.navbar{
    width:100%;
    padding:18px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#fff;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 4px 20px rgba(0,0,0,.05);
}

.logo img{
    height:50px;
}

.nav-menu{
    display:flex;
    align-items:center;
    gap:40px;
}

.nav-links{
    display:flex;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    color:var(--light);
    font-weight:600;
    transition:.3s;
    position: relative;
    padding-bottom: 5px;
}

.nav-links a:hover{
    color:var(--primary);
}

/* NAVBAR ACTIVE EFFECT */

.nav-links a::after{
    content:'';
    position:absolute;
    left:0;
    bottom:0;
    width:0%;
    height:3px;
    background:var(--primary);
    border-radius:10px;
    transition:.3s;
}
.nav-links a:hover::after,
.nav-links a.active::after{
    width:100%;
}

.nav-links a.active{
    color:var(--primary);
} 

.btn-register{
    background:var(--primary);
    color:#fff;
    padding:12px 22px;
    border-radius:10px;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.btn-register:hover{
    transform:translateY(-2px);
}

/* HERO */

.hero{
    padding:90px 8%;
    background:linear-gradient(135deg,#f3f7ff,#ffffff);
}

.hero-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    gap:50px;
}

.hero-content h1{
    font-size:56px;
    line-height:1.2;
    margin:20px 0;
    color:var(--primary);
}

.hero-content span{
    color:var(--secondary);
}

.hero-content p{
    color:var(--light);
    margin-bottom:35px;
    max-width:550px;
}

.trust-badge{
    display:inline-flex;
    align-items:center;
    gap:8px;
    background:#e7efff;
    color:var(--primary);
    padding:10px 18px;
    border-radius:30px;
    font-size:14px;
    font-weight:600;
}

.action-box{
    display:flex;
    align-items:center;
    background:#fff;
    padding:8px;
    border-radius:14px;
    box-shadow:0 10px 25px rgba(0,0,0,.07);
    max-width:520px;
}

.input-group{
    display:flex;
    align-items:center;
    flex:1;
    padding-left:15px;
}

.input-group input{
    width:100%;
    border:none;
    outline:none;
    font-size:15px;
}

.search-icon{
    margin-right:10px;
    color:#94a3b8;
}

#checkBtn{
    background:var(--accent);
    border:none;
    padding:14px 25px;
    border-radius:10px;
    cursor:pointer;
    font-weight:700;
}

.hero-buttons{
    margin-top:25px;
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.hero-btn{
    padding:14px 26px;
    border-radius:10px;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.primary-btn{
    background:var(--primary);
    color:#fff;
}

.secondary-btn{
    background:#e8eefc;
    color:var(--primary);
}

.hero-image img{
    width:100%;
    max-width:450px;
    display:block;
    margin:auto;
}

/* SECTION */
.how-it-works{
    padding: 100px 8%;
    background:var(--bg);
}

.merchant-section {
    padding: 50px 8%;
    background: #eef2f7;
}
.section-header,
.section-title{
    text-align:center;
    margin-bottom:35px;
}

.section-header h2,
.section-title h2{
    font-size:38px;
    margin-bottom:15px;
    color:var(--primary);
}

.section-header p,
.section-title p{
    color:var(--light);
    max-width:700px;
    margin:auto;
}

/* STEP CARD */

.steps-container{
    display:grid;
    grid-template-columns:repeat(5,minmax(120px,1fr));
    gap: 20px;
}

.step-card{
    min-width: 0;
    background:#fff;
    padding:30px 24px;
    border-radius:20px;
    box-shadow:0 4px 20px rgba(0,0,0,.05);
    transition:.3s;
    display:flex;
    flex-direction:column;
    height:100%;
    text-align: center
    ;
}

.step-card:hover .step-icon {
   background: var(--primary);
   color: #fff;
}

.step-icon{
    width:65px;
    height:65px;
    border-radius:20px;

    background:#fff;

    color:var(--primary);

    display:flex;
    justify-content:center;
    align-items:center;

    font-size: 24px;

    margin: 0 auto 20px auto;

    position: relative;

    box-shadow: 0 10px 25px rgba(37,99,235,.15);
    
    transition:.3s;
}

.step-icon span {
    position: absolute;

    top: -8px;
    right: -8px;

    width: 24px;
    height: 24px;

    background:var(--accent);
    color:var(--primary);

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;


    font-size:12px;
    font-weight:700;

    border:2px solid #fff;
}

.step-card h4{
    margin-bottom:12px;
}

.step-card p{
    color:var(--light);
    font-size: 16px;
}

/* MERCHANT */
.merchant-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.merchant-card{
    background:#fff;
    border-radius:24px;
    padding:40px 30px;
    text-align:center;
    box-shadow:0 5px 20px rgba(0,0,0,.06);
    transition:.3s;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.merchant-card:hover{
    transform:translateY(-8px);
}

.merchant-icon{
    width:180px;
    height:180px;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
}

.merchant-icon img{
    width: 150px;
    height: 150px;
    object-fit:contain;
}

.merchant-card h3{
    margin:20px 0 10px;
}

.merchant-card p{
    color:var(--light);
    margin-bottom:25px;
}

.merchant-btn{
    background:var(--primary);
    color:#fff;
    text-decoration:none;
    padding:12px;
    border-radius:10px;
    font-weight:600;
}

/* CTA */

.cta-section{
    padding:90px 8%;
    background:linear-gradient(135deg,#1b2b7a,#3249b9);
    text-align:center;
    color:#fff;
}

.cta-section h2{
    font-size:42px;
    margin-bottom:20px;
}

.cta-section p{
    max-width:700px;
    margin:auto auto 35px;
    opacity:.9;
}

.cta-buttons{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
}

.cta-button{
    padding:15px 30px;
    border-radius:12px;
    text-decoration:none;
    font-weight:700;
}

.primary-cta{
    background:var(--accent);
    color:var(--primary);
}

.secondary-cta{
    background:rgba(255,255,255,.15);
    color:#fff;
    border:1px solid rgba(255,255,255,.3);
}

/* FOOTER */

.footer{
    background:#0f172a;
    color:#94a3b8;
    padding:80px 8% 30px;
}

.footer-grid{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1fr;
    gap:40px;
    margin-bottom:50px;
}

.footer-logo{
    width:150px;
    margin-bottom:20px;
}

.footer-col h4{
    color:#fff;
    margin-bottom:20px;
}

.footer-col a{
    display:block;
    text-decoration:none;
    color:#94a3b8;
    margin-bottom:12px;
}

.footer-col p{
    margin-bottom:10px;
}

.footer-bottom{
    border-top:1px solid #334155;
    padding-top:20px;
    text-align:center;
}

/* MOBILE */

.hamburger{
    display:none;
    font-size:25px;
    cursor:pointer;
}

@media(max-width:900px){

    .steps-container {
        display: flex;
        overflow-x:auto;
        gap: 16px;
        padding-bottom: 10px;
    }

    .merchant-grid {
        display: flex;
        overflow-x: auto;
        gap: 20px;
        padding-bottom: 10px;
    }

    .merchant-card  {
        background:#fff;
    border-radius:24px;

    min-width:320px;

    padding:50px 40px;

    text-align:center;

    box-shadow:0 5px 20px rgba(0,0,0,.06);

    transition:.3s;

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    flex-shrink:0;
    }
    .step-card {
        width: 180px;
        min-width: 180px;
    }
    .section-header h2,
    .section-title h2 {
        font-size: 30px;
    }
    .hero-container{
        grid-template-columns:1fr;
        text-align:center;
    }

    .hero-content p{
        margin:auto auto 30px;
    }

    .action-box{
        margin:auto;
    }
    
    /*CARD MENJADI 1 BARIS*/
    .steps-container {
        grid-template-columns: repeat(5,minmax(120px,1fr));
        gap: 15px;
    }

    .step-card {
        padding: 20px 14px;
        min-height: 220px;
    }

    .step-card h4 {
        font-size: 20px;
    }

    .step-card p {
        font-size: 14px;
        line-height: 1.7;
        text-align: center;
    }

    .step-icon {
        width: 40px;
        height: 40px;
        font-size: 14px;
        margin-bottom: 15px;
    }

    .footer-grid{
        grid-template-columns:1fr 1fr;
    }

}

@media(max-width:768px){

    .steps-container{
        grid-template-columns: 1fr;
    }
    .nav-menu{
        display:none;
    }

    .nav-menu.active{
        display:flex;
        position:absolute;
        top:85px;
        left:0;
        width:100%;
        background:#fff;
        flex-direction:column;
        padding:25px;
        box-shadow:0 10px 25px rgba(0,0,0,.08);
    }

    .nav-links{
        flex-direction:column;
        width:100%;
    }

    .hamburger{
        display:block;
    }

    .steps-container{
        grid-template-columns:1fr;
    }

    .merchant-grid{
        grid-template-columns:1fr;
    }

    .footer-grid{
        grid-template-columns:1fr;
    }

    .hero-content h1{
        font-size:46px;
    }

}

@media(max-width:480px){

    .hero{
        padding:70px 5%;
    }

    .how-it-works {
        padding: 100px 8%;
        background: var(--bg);
    }
    .merchant-section {
        padding: 60px 8%;
        background: #eef2f7;
    }
    .cta-section{
        padding:70px 5%;
    }

    .hero-content h1{
        font-size:44px;
    }
}